body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e; /* Darkish background color */
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
}
.back-button {
    text-decoration: none; /* Remove underlines from the link */
    color: #fff; /* Text color for the link */
    font-size: 18px; /* Font size for the link */
    margin-left: 10px; /* Add space to the left of the link */
    transition: color 0.3s; /* Smooth color transition on hover */
}
