/* accounts.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #363535;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 14px;
  color: #555;
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0c8379;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #11bbad;
}

.ppcolor {
  color: #11bbad;
}

.error {
  color: #d9534f;
  font-size: 14px;
  text-align: left;
  width: 100%;
  margin-top: 10px;
}

.back-link {
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
}

#back-link {
  color: #2cd6ce;
  text-decoration: none;
}

#back-link:hover {
  text-decoration: underline;
}

/* Additional styles can be added for remember me, etc. */
